/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional styles */
body {
  background-color: #1a202c; /* dark background color */
}
.cardDetails{
  display: none;
  position: absolute;
  bottom: 0;
  background-color: #00000067;
  box-shadow: 0px -20px 40px 30px #00000067;
  animation: mymove .2s;
}
.cardShow:hover{
  height: auto;
  .cardDetails{
    display: block;
  }
}

@keyframes mymove {
  from {transform: translateY(100%);}
  to {transform: translateY(0%);}
}